# Supabase (get these from your project: https://supabase.com/dashboard/project/_/settings/api)
NEXT_PUBLIC_SUPABASE_URL=https://essxhngqvlwetalliosf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_p4vnbH2-K0sKR2pgy5DBxw_ub9zhdHM
